<!DOCTYPE html>
<html>
<head>
    <title>My RoR sample application | <%= @title%></title>
</head>
<body>
<h1>My First Application </h1>
<h1><%= content_for(:title, "my new title")%></h1>
<p>Find me in app/views/pages/contact.html.erb</p>
</body>
</html>
